img {
  max-width: 100%;
}
.selectfilter{
  width:100px
}

.text-yterminal {
  color: #16a085;
}

.right {
  float: right;
}

.btn-ref{
  color: #23282c;
  background-color: transparent;
  width: 100%;

}
.btn-ref:hover{

  border-color: #c8ced3;
}
.left {
  float: left;
}

.btn-yterminal {
  color: #23282c;
  background-color: #ffffff;
  border-color: #c8ced3;
  opacity: 0.5;
}
.create-shipment-role-btn.btn.disabled,
.create-shipment-role-btn.btn:disabled {
  color: #23282c;
  background-color: #80d2de0d;
  border-color: #58cadb;
  opacity: 1;
}

.top_spac {
  margin: 20px 0 0;
}

.shipment-table-main-container {
  font-size: 0.8vw;
}

.create-shipment > .modal-content {
  width: 700px;
  padding-right: 5px;
  padding-left: 5px;
  right: 100px;
}

.create-shipment-role-btn {
  width: 100%;
}

.create-shipment-role-btn.disabled {
  font-weight: bold;
}

.create-shipment-dropdown-item-role {
  font-weight: normal;
}

.create-shipment-dropdown-item-role:hover {
  font-weight: bold;
  background-color: #80d2de0d;
}

.create-shipment-field-title {
  font-weight: bold;
  text-align: center;
  height: max-content;
  border-radius: 3px;
  border: solid 1px #ededed;}

.create-shipment-create-btn {
  font-size: 1vw;
  font-weight: bold;
  margin-bottom: 1rem;
  width: 25%;
  margin: auto;
  color: white;
  border-color: #16a085;
  background-color: #16a085;
  border: 2px solid;
}

.create-shipment-create-btn:hover {
  color: #16a085;
  border-color: #16a085;
  background-color: white;
}

.create-shipment-create-btn.disabled {
  color: white;
  background-color: #95989a;
  border-color: #95989a;
  opacity: 1;
}

.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}
.headind_srch {
  padding: 10px 29px 10px 20px;
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input {
  border: 1px solid #cdcdcd;
  border-width: 0 0 1px 0;
  width: 80%;
  padding: 2px 0 4px 6px;
  background: none;
}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon {
  margin: 0 0 0 -27px;
}

input {
  font-family: Arial, FontAwesome;
}

.popover {
  max-width: 1000px;
  width: 300px;
  border: 1px solid rgba(6, 207, 168, 1);
}
.popover-header {
  background-color: '#fff';
  border-bottom: 0px solid #fff;
}

.popover.bottom > .arrow {
  border-bottom-color: rgba(6, 207, 168, 1) !important;
}

.popover .active_chat {
  background: #ebebeb;
}

.popover .arrow::before {
  border-bottom-color: rgba(6, 207, 168, 1) !important;
}

.yterminalRef {
  width: 400px;
}

td {
  cursor: pointer;
}

div.boo {
  border: 0px solid white;
  height: 88vh;
  /* overflow: auto; */
}

p {
  cursor: pointer;
}

i {
  cursor: pointer;
}

div.seenby {
  text-align: right;
}

.showthatdot {
  display: none;
}

.alert-column:hover .showdot .showthatdot {
  display: block;
}

.shipment-navbar {
  margin-top: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid #ededed;
}

.shipment-navbar > .nav-item > .active.nav-link {
  font-weight: bold;
}

.shipment-search-bar > label {
  width: 100%;
}

/* Shipment DataTable */

.table.shipment-table {
  margin-top: 1rem;
}

.table.shipment-table > tbody {
  display: block;
  height: 70vh; /* Just for the demo          */
  overflow-y: auto; /* Trigger vertical scroll    */
  overflow-x: hidden; /* Hide the horizontal scroll */
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}

tbody > tr:hover {
  background-color: #f1f1f1 !important;
}

.table.shipment-table > thead > tr > th {
  color: #9b9b9b;
  border-top: none;
}

.table.shipment-table > tbody > tr {
  background-color: white;
}

.table.shipment-table > tbody > tr > td {
  border: none;
}

.alert-container {
  position: relative;
}

.alert-popover {
  position: absolute;
  top: 55px;
  max-width: 1000px;
  width: 300px;
  border: 1px solid rgba(6, 207, 168, 1);
  border-radius: 10px;
  background-color: white;
  padding: 15px;
  z-index: 999999;
}

.alert-popover::before {
  content: '';
  position: absolute;
  top: -11px;
  left: 14px;
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid rgba(6, 207, 168, 1);
}

.alert-popover::after {
  content: '';
  position: absolute;
  left: 15px;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

.dropup > .caret {
  margin: 0 !important;
}

.dropdown > .caret {
  margin: 0 !important;
  margin-left: 5px !important;
}

.react-bootstrap-table-sort-order > .caret {
  margin: 0 !important;
  margin-left: 5px !important;
}

.search-filter-select {
  margin-top: 1px;
  margin-right: 2px;
  .select__control {
    min-height: 35px;
    border: 0;
    border-color: #e4e7ea;
  }
}

.search-filter-select-input {
  border: 0;
  font-size: 0.8vw;
}

.search-filter-select-container {
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
}

.search-filter-select-date {
  .react-date-picker__wrapper {
    border: 0;
  }
}

.status-filter-select {
  .select__control {
    min-height: 40px;
    border-color: hsl(0, 0%, 80%);
    width: 150px;
  }
}

.company-shipment{
  margin: 4px;
  border-radius: 3px;
  background-color: #d6d6d6;
  width: -webkit-fill-available;
}


.company-shipment-button{
  margin: 4px;
  border-radius: 3px;
}

.shipment-header {
  font-size: 12px;
  color: #9b9b9b;
}

.shipment-item-box{
  border: 0px;
}

.shipment-item-box:focus{
  outline: none;
}

.shipment-item-box-gray-background{
  margin: 4px;
  border: 0px;
  opacity: 0.44;
  border-radius: 3px;
  background-color: #d6d6d6;
  width: -webkit-fill-available;
}

.XSuggest {
  &.material {
    &.form-control {
      border: {
        top: 0;
        right: 0;
        left: 0;
        radius: 0;
      }
    }
  }

  .list-unstyled {
    top: 1.72rem;
  }
}

.input-shipment  {
  color: #9b9b9b;
  border-color: #d6d6d6;
  border-width: thin;
  border-bottom: 1;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  font-size: 100%;
}

.shipment-modal {
  .modal-header {
    .modal-title {
      flex-grow: 1;
      text-align: center;
    }
  }
}