.network-container {
  font-size: 1em !important;
  background-color: rgb(247, 247, 247);
  top: 6%;
  right: 0;
  bottom: 0;
  left: 0;
}

.network-btn-icon {
  padding-left: 1.5rem;
  padding-top: 0.2rem;
  float: left;
}

.profile-container {
  background-color: white;
  width: 100%;
  height: 30%;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.02);
}

.network-pic-btn {
  background-color: white;
  outline: none;
  border: none;
  width: 100%;
  padding-right: 0px;
}

.network-pic-btn:hover {
  background-color: white;
  border: 0;
}

.network-pic-btn:focus {
  box-shadow: none;
}

.profile-email {
  color: grey;
}

.profile-btn {
  font-size: 100%;
  font-weight: bold;
  width: 75%;
  margin-bottom: 1rem;
  color: #16a085;
  border-color: #16a085;
  background-color: white;
  border: 2px solid;
}

.profile-company-status-btn {
  font-size: medium;
  font-weight: bold;
  width: 4.5rem;
  font-size: 0.7em;
  background-color: white;
  border: 2px solid;
}

.profile-company-status-btn.reject {
  color: #ea4646;
  border-color: #ea4646;
  margin-right: 1rem;
}

.profile-company-status-btn.join {
  color: #16a085;
  border-color: #16a085;
  margin: auto;
}

.profile-company-status-btn.reject:hover {
  color: white;
  border-color: #ea4646;
  background-color: #ea4646;
}

.profile-company-status-btn.join:hover {
  color: white;
  border-color: #16a085;
  background-color: #16a085;
}

.profile-btn.create {
  height: 5vh;
  color: white;
  background-color: #16a085;
}

.profile-btn:hover {
  color: white;
  border-color: #16a085;
  background-color: #16a085;
}

.col-profile-info {
  margin-top: 2.5rem;
  padding-left: 0px;
}

.col-profile-pic {
  padding-right: 0px;
}

.col-profile-button {
  margin-top: 3rem;
  padding-left: 0px;
}

.company-container {
  background-color: white;
  width: 100%;
  height: 30%;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.02);
}

.col-company-pic {
  padding-right: 0px;
}

.company-access-btn {
  font-size: 70%;
  font-weight: bold;
  width: 75%;
  margin-top: 0.7rem;
  margin-left: 2.5rem;
  margin-bottom: 1rem;
  color: #16a085;
  border-color: #16a085;
  background-color: white;
  border: 2px solid;
}

.company-invite-btn {
  font-size: medium;
  font-weight: bold;
  width: 20%;
  color: white;
  background-color: #16a085;
  border-color: #16a085;
  margin-left: 0.5rem;
}

.company-access-btn:hover {
  color: white;
  border-color: #16a085;
  background-color: #16a085;
}

.company-invitation-select {
  margin-left: 0.8rem;
  width: 60%;
}

.role-filter-select {
  margin-left: 0.8rem;
  width: 70%;
}

.incoming-request-container {
  margin-left: 5rem;
  margin-right: 5rem;
  background-color: white;
  margin-top: 0.5rem;
}

.company-member-container {
  margin-left: 5rem;
  margin-right: 5rem;
  background-color: white;
  margin-top: 0.5rem;
}

tbody > tr {
  cursor: pointer;
}

tbody > tr:hover {
  background-color: #f1f1f1 !important;
}

/* Profile DataTable */

.table.profile-table {
  margin-top: 1rem;
}

.table.profile-table > tbody {
  display: block;
  height: 55vh; /* Just for the demo          */
  overflow-y: auto; /* Trigger vertical scroll    */
  overflow-x: hidden; /* Hide the horizontal scroll */
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}

.table.profile-table > thead > tr > th {
  color: #9b9b9b;
  border: none;
  font-size: 100%;
}

.table.profile-table > tbody > tr {
  background-color: white;
  font-size: 100%;
}

.table.profile-table > tbody > tr > td {
  border: none;
}

/* Company DataTable */

.company-table-label {
  padding-top: 1.5rem;
  margin-left: 2.5rem;
}

.table.company-table {
  margin-top: 1rem;
}

.company-table-wraper {
  padding-left: 1rem;
  padding-right: 1rem;
}

.setting-table-wraper {
  margin: 5rem;
  margin-top: 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.setting-table-wraper::-webkit-scrollbar {
  background-color: rgb(247, 247, 247);
}

.table.company-table > tbody {
  display: block;
  height: 55vh; /* Just for the demo          */
  overflow-y: auto; /* Trigger vertical scroll    */
  overflow-x: hidden; /* Hide the horizontal scroll */
}

.table.company-table.member > tbody {
  display: block;
  height: 25vh;
  max-height: 60vh; /* Just for the demo          */
  overflow-y: auto; /* Trigger vertical scroll    */
  overflow-x: hidden; /* Hide the horizontal scroll */
}

.table.company-table.incoming > tbody {
  display: block;
  height: 10vh;
  max-height: 25vh; /* Just for the demo          */
  overflow-y: auto; /* Trigger vertical scroll    */
  overflow-x: hidden; /* Hide the horizontal scroll */
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}

.table.company-table > thead > tr > th {
  color: #9b9b9b;
  border-color: #f4f4f4;
  border-width: thin;
  border-bottom: 1;
  border-top: none;
  font-size: 100%;
}

.table.company-table > tbody > tr {
  background-color: white;
  font-size: 100%;
}

.table.company-table > tbody > tr > td {
  border: none;
}

/* Setting DataTable */

.table.setting-table {
  margin-top: 1rem;
  border: none;
}

.table.setting-table > tbody {
  display: block;
  height: 65vh; /* Just for the demo          */
  overflow-y: auto; /* Trigger vertical scroll    */
  overflow-x: hidden; /* Hide the horizontal scroll */
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}

.table.setting-table > thead > tr > th {
  color: #9b9b9b;
  border: none;
  font-size: medium;
  padding: 0;
}

.table.setting-table.table-bordered td {
  border: 1px solid #ededed;
}

.table.setting-table > tbody > tr {
  background-color: white;
  font-size: large;
}

.matrix-check:hover {
  color: black;
}

/* Company Invite DataTable */
.company-invite-table > thead > tr > th {
  color: #9b9b9b;
  border-color: #f4f4f4;
  border-width: thin;
  border-bottom: 1;
  border-top: none;
  font-size: small;
}

.company-invite-table > tbody > tr {
  background-color: white;
  font-size: medium;
}

.company-invite-table > tbody > tr > td {
  border: none;
}

/* Modal Component */

.search-company-selection {
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border: 0.5px solid transparent; /* <- here */
  border-width: 3px;
  transition: border 0.2s;
  text-decoration: none; /* I added this for clarity of effect */
  margin-left: 1px;
  margin-right: 1px;
}

.search-company-selection:hover {
  border: 0.5px solid #16a085;
  border-width: 3px;
}

.search-company-selection.active {
  border: 0.5px solid #16a085;
  border-width: 3px;
}

.field-error-msg {
  font-size: 0.8em;
  font-weight: bold;
  color: #b90e0e;
}
