//
// Colors
//

$blue-color: #3399ff;
$light-blue-color: #99ccff;
$red-color: #ff3333;
$light-red-color: #ffcccc;
$white-color: #ffffff;

$today-color: $red-color;
$today-bg-color: $light-red-color;

$disabled-color: $white-color;
$disabled-bg-color: $light-red-color;

$selected-color: $white-color;
$selected-bg-color: $light-blue-color;

$start-bg-color: $blue-color;
$end-bg-color: $blue-color;


//
// Styles
//

.XCalendar {
    width: 100%;

    .DayPicker {
        &-Day {

            &--today {
                position: relative;
                color: $today-color !important;
                background-color: $today-bg-color;

                &::before {
                    display: block;
                    width: 100%;
                    height: 100%;
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    border: 2px solid $today-color;
                    z-index: 1;
                }
            }

            &--disabled {
                background-color: $disabled-bg-color;
                color: inherit;
                opacity: 0.65;
            }

            &--selected {

                &::after {
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: '';
                    z-index: -1;
                    box-shadow: 15px 0px 0px 0px $selected-bg-color;
                }

                &:not(.DayPicker-Day--outside),
                &:not(.DayPicker-Day--start),
                &:not(.DayPicker-Day--end) {
                    border-radius: 0%;
                    background-color: $selected-bg-color;
                    color: $white-color;
                }

                &.DayPicker-Day--outside {
                    &::before {
                        display: none !important;
                    }

                    &::after {
                        display: none !important;
                    }
                }

                &:last-child,
                &.DayPicker-Day--start,
                &.DayPicker-Day--end {

                    &::after {
                        display: none;
                    }
                }
            }


            // Range Modifiers

            &--start {
                z-index: 1;
                border-radius: 50% !important;
                background: $start-bg-color !important;

                &+.DayPicker-Day--selected {
                    &::before {
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: '';
                        z-index: -1;
                        box-shadow: -15px 0px 0px 0px $selected-bg-color;
                    }

                    &.DayPicker-Day--end {
                        &::after {
                            display: block;
                            box-shadow: inset 15px 0px 0px 0px $selected-bg-color;
                        }
                    }
                }
            }

            &--end {
                border-radius: 50% !important;
                background-color: $end-bg-color !important;
            }
        }
    }

    .DayPickerInput {
        width: 100%;

        &-Overlay {
            overflow: hidden;
            width: 580px;
        }
    }


    //
    // Range Inputs

    &-Input {
        position: relative;
        flex-grow: 1;

        &--input {
            position: absolute;
            top: 0;
            left: 0;
            background-color: #ffffff;

            &.hidden {
                color: transparent !important;
                background-color: transparent !important;
            }
        }
    }

    &-From {
        .DayPickerInput-Overlay {
            left: 0;
        }
    }

    &-To {
        .DayPickerInput-Overlay {
            left: -98%;
        }
    }

    &-TBA {
        text-decoration: none;
        color: $blue-color;
        opacity: 0.75;

        &:hover {
            opacity: 1;
        }
    }


    //
    // Bootstrap Inputs

    .input-group-text {
        font-weight: 500;
        background-color: inherit;

        padding: {
            right: 0;
        }

        &::after {
            display: block;

            padding: {
                left: 0.25rem;
                right: 0.25rem;
            }

            content: ' : ';
            font-weight: inherit;
        }
    }

    .form-control {
        border-left-style: none !important;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        &[readonly] {
            background-color: #ffffff;
        }

        &:focus {
            border: 1px solid #ced4da;
            box-shadow: none;
        }
    }
}