.container {
  max-width: 1170px;
  margin: auto;
}

img {
  max-width: 100%;
}
.ck.ck-reset,
.ck.ck-reset_all,
.ck.ck-reset_all * {
  width: 75%;
}

.ck.ck-toolbar {
  display: none !important;
}

.ck {
  border-color: #e4e7ea !important;
  box-shadow: none !important;
}

.textP {
  background: rgba(102, 209, 188, 0.3);
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: black;
  padding: 5px 10px 5px 12px;
  text-align: left;
  float: right;
  width: 100%;
  word-break: break-word;
  white-space: pre-wrap;
}

.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%;
  border-right: 1px solid #c4c4c4;
}

.inbox_msg {
  clear: both;
  overflow: hidden;
  border-top: 0px;
}

.top_spac {
  margin: 20px 0 0;
}

.recent_heading {
  float: left;
  width: 40%;
}

.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}

.headind_srch {
  padding: 10px 29px 10px 20px;
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}

.srch_bar input {
  border: 1px solid #cdcdcd;
  border-width: 0 0 1px 0;
  width: 80%;
  padding: 2px 0 4px 6px;
  background: none;
}

.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}

.srch_bar .input-group-addon {
  margin: 0 0 0 -27px;
}

.chat_ib h5 {
  font-size: 15px;
  color: #464646;
  margin: 0 0 8px 0;
}

.chat_ib h5 span {
  font-size: 13px;
  float: right;
}

.chat_ib p {
  font-size: 14px;
  color: #989898;
  margin: auto;
}

.chat_img {
  float: left;
  width: 11%;
}

.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people {
  overflow: hidden;
  clear: both;
}

.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}

.inbox_chat {
  height: 550px;
  overflow-y: scroll;
}

.active_chat {
  background: #ebebeb;
}
.incoming_msg {
  margin-top: 20px;
}
.incoming_msg_img {
  display: inline-block;

  width: 6%;
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}

.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  padding: 0px 10px 0px 12px;
  width: 100%;
  word-wrap: break-word;

  text-overflow: ellipsis;
}
.time-component {
  position: relative;
}
.time_date_leftComponent {
  position: relative;
}

.time_date {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #747474;
  font-size: 10px;
  align-items: center;
  display: inline-block;
  padding-right: 10px;
  width: 120px;
  text-align: end;
}
.time_date_left {
  color: #747474;
  font-size: 10px;
  align-items: center;
  display: inline-block;
  padding-right: 10px;
  width: 120px;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
}

.received_withd_msg {
  margin-bottom: 30px;
}

.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 100%;
  height: 82vh;
}

.system-message {
  background-color: transparent !important;
}

.notibadge {
  position: absolute;
  right: 3px;
  bottom: 20px;
  background: red;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: white;
  padding: 1px 5px;
  z-index: 1;
}
.rightMessage {
  width: 100%;
}
.sender {
  margin-right: 15px;
  margin-left: 15px;
  word-break: break-word;
}

.tab-content {
  border: 1px solid #ededed;
  margin-top: -5px !important;
}

.outgoing_msg {
  float: right;
  width: 700px;
  margin: 26px 0 26px;
}

.sent_msg {
  display: inline-flex;
  float: right;
}

.chatbox {
  height: auto;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.react-tabs-child {
  margin-left: 0 !important;
  padding-left: 0 !important;

  .react-tabs-tab {
    max-width: 120px !important;
    min-width: 120px !important;
  }
  .react-tabs-tab-content {
    margin: auto;
    width: 50px !important;
    font-size: 2em !important;
  }
}

.user-name {
  font-weight: normal;
}

.user-name-inc {
  font-weight: bold;
}

.inputBox {
  position: relative;
  margin-bottom: 10px;
  width: auto;
}

.type_msg {
  position: absolute;
  padding-bottom: 20px;
  bottom: -60px;
  width: 100%;
}
textarea {
  width: 85%;
  z-index: 0;
}
.btn-default:hover {
  background-color: rgb(22, 160, 133) !important;
}

.btn-default1:hover {
  background-color: rgb(22, 160, 133) !important;
}
.paperclip {
  padding-right: 10px;
}
.text-yterminall{
  background-color: white;
  border: 0px;
}

.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
  margin-right: 10px;
}
.company-shipment{
  margin: 4px;
  border-radius: 3px;
  background-color: #d6d6d6;
  width: -webkit-fill-available;
}


.company-shipment-button{
  margin: 4px;
  border-radius: 3px;
}
.messaging {
  padding: 0 0 50px 0;
}

.msg_history {
  height: 60%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.msg_history_full {
  height: 85%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.msg_history-cover-bar {
  position: absolute;
  background: #fff;
  height: 100%;
  top: 0;
  right: 20px;
  width: 0.4em;
  -webkit-transition: all 0.5s;
  opacity: 1;
}

.msg_history:hover .msg_history-cover-bar {
  opacity: 0;
  -webkit-transition: all 0.5s;
}

.btn-chatcreate {
  color: #23282c;
  background-color: #ffffff;
  border-color: #16a085;
  opacity: 1;
}
.roleForm{
  z-index: 100;
}

.btn-default {
  color: #000000;
  background-color: #ffffff;
  border-color: #e4e7ea;
  width: 50px;
}
.btn-white{
  color: hsl(0,0%,50%);
  background-color: #ffffff;
  border-color: #e4e7ea;
}
.companySelect div:first-child{
  background-color: #ffffff !important;

}

.btn-white:hover{
  color: hsl(0,0%,50%);
  background-color: #ffffff;
  border-color: #e4e7ea;
}

.btn-default1 {
  color: #000000;
  background-color: #ffffff;
  border-color: #e4e7ea;
  border-left: 0;
  width: 50px;
}

.react-tabs-container {
  background-color: #ffffff !important;
  border: 0px !important;
  overflow-x: auto !important;
  width: 100%;
  height: 39px !important;
  display: -webkit-inline-box !important;
}

.react-tabs-tab.react-tabs-active {
  background-color: #ffffff !important;
}

.react-tabs-tab:has(div) {
  background-color: #000000 !important;
}

.react-tabs-tab {
  background-color: #f0f3f5b5 !important;
  color: #000000 !important;
  border-top: 1px solid #ededed !important;
  border-right: 1px solid #ededed !important;
  border-left: 1px solid #ededed !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  max-width: 385px !important;
  min-width: 185px !important;
  position: relative;
}

.react-tabs-container > .react-tabs-tab:nth-last-child(2) {
  max-width: 50px !important;
  min-width: 50px !important;
}

.create-new-chat-tab {
  font-size: 100%;
  font-weight: bold;
}

.react-tabs-tab-content {
  font-size: medium !important;
  width: 100% !important;
  z-index: 1;
}

.react-tabs-tab-close {
  display: none !important;
}

.chat-toolbar {
  height: 5vh;
  width: 100%;
}

.btn-chat-label {
  background-color: white;
  border-top: 0px solid #707070;
  border-bottom: 0px solid #707070;
  border-right: 0px solid #707070;
  border-left: 0px solid #707070;
  margin-right: 0.5rem;
  pointer-events: none;
}

ol.breadcrumb {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  border-bottom: 1px solid #ededed;
}

.time-seperation {
  font-size: small;
  margin-bottom: 2rem;
  background: #fff;
  padding: 0 15px;
}

h2.time-background {
  text-align: center;

  position: relative;
  z-index: 1;
}

h2.time-background:before {
  border-top: 1px solid #dfdfdf;
  content: '';
  margin: 0 auto;
  /* this centers the line to the full width specified */
  position: absolute;
  /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 22px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}

.invite-btn-trigger {
  border-radius: 5px;
  border: solid 1px #6a6a6a;
  background-color: white;
}

.react-tagsinput-input {
  padding: 0 !important;
  width: 200px;
}
.react-tagsinput {
  border: 0px;
  border-bottom: 1px solid rgb(22, 160, 133);
  height: 40px;
  overflow: scroll;
  width: 660px;
}
.react-tagsinput-tag {
  background-color: hsl(0, 0%, 90%) !important;
  border: 0px;
  color: black;
  padding: 2px !important;

  &.chat-invite {
    &.exist {
      color: black;
      font-weight: bold;
    }
    &.notExist {
      color: grey;
      font-style: italic;
    }
  }
}

.uploading-file-row {
  margin-bottom: 2px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 2px solid #cccccc;
}

.file-row {
  border: 0;
}

.file-row:hover {
  background-color: #367fee1c;
  border-radius: 5px;
}

.delete-btn-enable {
  color: rgb(22, 160, 133);
  font-weight: bold;
}

.delete-btn-disable {
  color: grey;
  font-weight: bold;
}

.mb-3.upload {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 2px solid #707070;
}

.create-chat-others-row {
  margin: auto;
}

.create-chat-button {
  font-size: 1em;
  font-weight: bold;
}

.card-chat-side {
  box-shadow: none !important;
  transition: none !important;
  border-radius: none !important;
  border: 1px solid #ededed;
  border-bottom: none;
  width: none !important;
  &:hover {
    box-shadow: none !important;
  }

  .card-body {
    padding: 0.9rem;
  }
}

.chat-message-input {
  padding: 1;
  overflow: hidden;
  resize: none;
  padding: 10px;
  border-color: #e4e7ea;
  outline: none !important;
  &:hover {
    box-shadow: none !important;
  }
  &:focus {
    box-shadow: none !important;
  }
}

i.cancel-invite {
  margin: 8px 0px 0px 10px !important;
  cursor: pointer;
}

.XSuggest {
  .list-unstyled {
    top: 1.7rem;
  }
}
