.notificationItem{
  width: 100%;
  padding-bottom: 10px ;
  border-bottom: 1px solid #c8ced3;
padding:  10px;
}

.notification :hover{
  background-color: #f0f3f5;


}
.highlight{
  background-color: #f0f3f5;
}
